* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: color 0.2s ease-in-out;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
	font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
	font-size: 18px;
	line-height: 1.8;
	background: #fcfcfc;
	color: #747474;
	-webkit-scroll-behavior: smooth;
	scroll-behavior: smooth;
	max-width: 100vw;
}

a, a:visited, a:link {
	font-weight: 400;
	color: inherit;
	text-decoration: none;
}

h1 {
	font-weight: 100;
	font-size: 3rem;
}

.MathJax {
	font-size: 18px;
}