* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
	font-family: 'Roboto', sans-serif, Roboto, 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
	font-size: 20px;
	line-height: 1.8;
	color: #404e5b;
	background: #fcfcfc;
	-webkit-scroll-behavior: smooth;
	scroll-behavior: smooth;
	max-width: 100vw;
}